* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  transition: 0.3s;
}

a:hover {
  transform: scale(1.1);
}
