.part1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-top: 1px solid #0f0f0f;
  border-bottom: 1px solid #0f0f0f;
  background-color: #2f3542;
  color: #fff;
  padding-bottom: 2px;
  margin-top: 18px;
}
.part2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cuh {
  padding-top: 20px;
  height: 400px;
}

.part3 {
  text-align: center;
  margin: 60px;
  font-size: 20px;
}
