.port1 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

#logo {
  width: 3%;
  height: 2%;
  /* margin-left: 80px; */
  /* margin-top: 18px; */
}

#letter {
  font-size: 20px;
  font-weight: bolder;
  padding-left: 14px;
  color: #2f3542;
}

.port2 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-top: 1px solid #ff4134;
  border-bottom: 1px solid #ff4134;
  background-color: #ffd6c9;
  color: #aa133d;
  height: 28px;
}

.port3 {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-top: 1px solid #00a49f;
  border-bottom: 1px solid #00a49f;
  background-color: #cbf7ee;
  height: 28px;
}

.port4 {
  width: 100%;
  height: 200px;
  padding-top: 42px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  padding-top: 5px;
  background-image: url(https://theme.zdassets.com/theme_assets/598226/80b6f5b5ab7e64e47b3098214dafde1deed3b0ec.svg);
  background-position: center;
  background-size: cover;

  background-color: #aecfe6;
}
.port5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  height: 160px;
}

#click {
  font-size: 15px;
  height: 80px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 1px 2px #888888;
  margin-left: 25px;
  font-weight: bold;
  margin-top: 50px;
  transition: 0.5s;
  margin-bottom: 20px;
}

#click:hover {
  background-color: rgb(181, 181, 192);
  height: 89px;
  width: 159;
}
#click:active {
  background-color: rgb(136, 165, 211);
  box-shadow: 0 5px #666;
  transform: translate(4px);
}
