.footer {
  background-color: rgba(180, 180, 179, 0.863);
}

.first {
  display: flex;
  flex-wrap: wrap;
}

hr {
  height: 4px;
  margin-top: 20%;
  background-color: black;
}

th {
  padding-left: 65px;
}

td {
  padding-left: 65px;
}

.last {
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(20, 58, 102);
  height: 100%;
}

#gap {
  display: flex;
  flex-wrap: wrap;
}
