.heart .icon {
  color: #e55039;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(1);
  animation: pop 2s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

@keyframes pop {
  0% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
