.item-card {
  display: inline-block;
  position: relative;
  height: 270px;
  width: 220px;
  /* border: 2px solid rgb(68, 67, 67); */
  margin: 30px 15px 0px 15px;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(85, 84, 84, 0.719);
  transition: 0.4s;
  cursor: pointer;
}
.item-card:hover {
  transition: 1s;
  box-shadow: 0px 0px 15px 0px rgba(124, 123, 123, 0.438);
}
.item-card .item-img {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-card .item-img img {
  height: 100%;
  overflow: hidden;
}
.item-card .item-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
}
.item-card .item-content p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item-card .item-content p:nth-child(1) {
  font-size: 22px;
  font-weight: 800;
}
.item-card .item-content p:nth-child(2) {
  font-size: 13px;
}
.item-card .item-content p:nth-child(3) {
  font-size: 10px;
  text-align: right;
  padding-right: 7px;
}
