/*      Login Page     */
.login-page-container {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-content: center;
}
.login-page {
  background: linear-gradient(
    90deg,
    #91b3fa,
    #e8eefe,
    50%,
    #7d97f4,
    50%,
    #ffffff
  );
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  height: 90vh;
  width: 80vw;
}
.login-page .login-form {
  /* border: 2px solid black; */
  width: 50%;
  /* display: grid;
  place-content: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.login-page .login-form form .logo {
  margin: 35px 0px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
.login-page .login-form form .logo p {
  font-size: 25px;
}
.login-page .login-form .logo p:nth-child(1) {
  background: linear-gradient(
    260deg,
    rgb(47, 113, 255),
    #7d97f4,
    rgb(78, 122, 255)
  );
}
.login-page .login-form .logo p:nth-child(2) {
  color: rgb(78, 122, 255);
}
.login-page .login-form #welcome {
  position: absolute;
  top: 0px;
  left: 33px;
  padding: 9px 13px;
  background: linear-gradient(
    130deg,
    rgb(47, 113, 255),
    #7d97f4,
    rgb(78, 122, 255)
  );
  color: white;
  border-radius: 0px 40px 40px 0px;
}
.login-page .login-form input {
  font-size: 15px;
  display: block;
  margin: 30px 15px;
  padding: 7px 12px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(179, 178, 178);
}
.login-page .login-form input:focus {
  border-bottom: 4px solid steelblue;
}
.login-page .login-form [type="submit"] {
  background-color: rgb(82, 145, 197);
  color: white;
  border: none;
  width: 50%;
  padding: 10px 0px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 1px 2px 17px rgba(0, 0, 0, 0.4);
}
.login-page .login-form [type="submit"]:focus {
  border: none;
}
.login-page img {
  height: 80%;
  /* width: 50%; */
}
.login-page .login-form h2 {
  color: rgb(128, 122, 119);
  position: relative;
  left: 10px;
}
.login-form .login-password {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 2px solid darkblue; */
  /* border-bottom: 3px solid rgb(179, 178, 178); */
  margin: 30px 15px;
  width: 100%;
  position: relative;
}
.login-form .login-password input {
  margin: 0px;
  width: 100%;
  /* border: none; */
}
.login-form .input-pass {
  cursor: pointer;
  position: absolute;
  right: 15px;
}
.login-page-container .login-form form .info {
  font-size: 14px;
  text-decoration: underline;
}
