@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap");
.logo {
  display: flex;
  gap: 2px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logo p {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 4px 5px;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
}
.logo p:nth-child(1) {
  background-color: #34495e;
  color: #f1f5f5;
}
.logo p:nth-child(2) {
  color: #34495e;
  /* border: 2px solid #34495e; */
  padding: 1px 5px;
}
