@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Patrick+Hand&family=Rajdhani:wght@500&display=swap");

/*              Profile Button           */

.profile-btn {
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 27px;
  /* font-family: "Architects Daughter", cursive; */
  font-family: "Rajdhani", sans-serif;
  /* font-family: "Acme", sans-serif; */
  /* font-family: "Patrick Hand", cursive; */
  /* border: 2px solid black; */
}
.profile-btn span {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  border: 3px solid #d6d3d3;
  /* box-shadow: 0px 0px 0px 2px #a2dbfa; */
  border-radius: 5px;
  /* background-color: #f0e4d7; */
  background: linear-gradient(#f0e4d7, #edeef7);

  color: rgb(85, 78, 78);
  padding: 5px 10px;
  font-weight: 900;
}
.profile-btn .profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-btn .profile-img img {
  /* border: 2px solid black; */
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1.3);
}
.profile-btn .fa-bars {
  cursor: pointer;
}
/*            Profile Page       */
.profile-page {
  display: flex;
}
.profile-content {
  display: flex;
}
.profile-nav {
  padding: 20px 40px;
  padding-bottom: 30px;
  border-right: 4px solid #a19882;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* background-color: #fef7dc; */
  background: linear-gradient(135deg, #f7fbfc, #fef7dc);
  position: relative;
}
.profile-nav img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: contain;
}
.profile-nav p:nth-child(3) {
  font-size: 25px;
  padding: 10px 0px;
  font-family: "Courier New", Courier, monospace;
  /* text-shadow: 4px -4px 5px rgba(0, 0, 0, 0.3); */
}
.profile-nav hr {
  width: 100%;
}
.profile-nav .profile-img {
  overflow: hidden;
  border-radius: 50%;
}

.profile-nav a {
  font-size: 20px;
  color: black;
  /* align-self: flex-start; */
}
.profile-nav .nav-opt {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
  gap: 18px;
}
.profile-nav .nav-opt a {
  padding: 0px 20px;
  width: 220px;
}
.profile-nav .setting-selected {
  font-size: 25px;
  border-left: 4px solid tomato;
}
.profile-nav .fa-pen {
  position: absolute;
  top: 205px;
  left: 235px;
  font-size: 23px;
  width: 40px;
  height: 40px;
  background-color: #585553;
  border-radius: 50%;
  padding: 9px;
  color: #fff;
}
#logout {
  cursor: pointer;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #fc7a46;
  box-shadow: 0px 0px 0px 4px #f89d7ce5;
  color: white;
  font-weight: 600;
  width: fit-content;
}
#logout:hover {
  background-color: #ee660b;
  box-shadow: 0px 0px 0px 4px #f38e6ae5;
}
/* user Update */
.user-update {
  display: flex;
}

/*        Display Image      */
.profile-setting-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: linear-gradient(135deg, #7ea6f4, #4648ee);
  color: whitesmoke;
}
.profile-setting-display h2 {
  text-decoration: underline;
  font-size: 35px;
}
.profile-setting-display img {
  width: 500px;
}

/*    Edit Avatar    */
.edit-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
  gap: 20px;
  width: 100%;
}
.edit-avatar #user_avatar {
  width: 280px;
  border-radius: 50%;
  border: 2px solid slategrey;
}
.available-avatars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 100px 100px; */
}
.available-avatars img {
  width: 80px;
  cursor: pointer;
}
.save-btns {
  display: flex;
  gap: 100px;
}
.save-btns p {
  padding: 7px 10px;
  cursor: pointer;
  font-size: 25px;
  border: 1px solid rgb(58, 56, 56);
  border-radius: 5px;
}
.save-btns p:hover {
  background-color: rgba(82, 78, 78, 0.308);
  color: white;
  border: 1px solid rgb(189, 187, 187);
}

/*          Update Details     */
.update-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
  gap: 32px;
  background: linear-gradient(140deg, #4b7bec, 50%, #778ca3, 50%, #778ca3);
}
.update-info h2 {
  color: #e4eaf1;
  font-size: 30px;
  font-family: "Rampart One", cursive;
}
.update-info input {
  padding: 10px 15px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  border: 3px solid #cad3c8;
  background-color: #f0f7ff;
  font-family: "Patrick Hand", cursive;
}
.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.update-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.update-form form .names {
  display: flex;
  gap: 15px;
}
.update-btn {
  display: flex;
  gap: 80px;
  font-size: 22px;
}
.update-btn p {
  border-radius: 5px;
  padding: 5px 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.update-btn #cancel_btn {
  background-color: #fc5c65;
  box-shadow: 0px 0px 0px 4px #f5999d;
}
.update-btn #update_btn {
  background-color: #45aaf2;
  box-shadow: 0px 0px 0px 4px #7dbff5;
}
.change-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 40%;
}
.change-pass .pass-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.change-pass .pass2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 23px;
  background-color: #f0f7ff;
  border: 3px solid #cad3c8;
  border-radius: 5px;
}
.change-pass .pass2 input {
  border: none;
  width: 100%;
}
.change-pass .pass2 i {
  cursor: pointer;
  color: #34495e;
}

/*        Collection     */
.collections {
  /* background: url("../images/collection_img2.jpg"); */
  width: 100%;
  background-size: cover;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.collections h2 {
  text-align: center;
  font-family: "Rampart One", cursive;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #57606f;
}

.collections .saved_books {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  padding: 40px 20px;
  row-gap: 80px;
  margin-left: 50px;
}

/*       User Reviews Page      */
.user-reviews-page {
  /* background: url("../images/review-page-svg.svg"); */
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 25px 50px;
  height: 100vh;
  overflow-y: scroll;
}
.user-reviews-page h2 {
  font-family: "Rampart One", cursive;
  font-size: 45px;
  align-self: center;
}
.user-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
/*      User Review Card     */
.user-review-card {
  width: 100%;
  position: relative;
  background-color: #3c80ff;
  color: #ffffff;
  /* color: black; */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  border: 2px solid #0066ff;
  transition: box-shadow 0.5s linear;
}
.user-review-card:hover {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
}
.user-review-card .delete-btn {
  background-color: #e84118;
  border-radius: 5px;
  align-self: flex-end;
  padding: 6px;
  text-align: center;
  height: 35px;
  width: 35px;
  box-shadow: 0px 0px 0px 3px #c23616;
  cursor: pointer;
  /* border: 4px solid #f37050; */
}
.user-review-card .fa-trash-alt {
  color: #eeeeee;
  font-size: 22px;
  margin: auto;
}
.user-review-card .review-content {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 100%;
}
.review-content .book-name {
  display: flex;
  justify-content: space-between;
}
