.search-bar {
  width: 40%;
  display: flex;
  border: 2px solid #34495e;
  border-radius: 7px;
  /* background-color: #ecf0f1; */
}
.search-bar input {
  padding: 7px;
  border-radius: 7px 0px 0px 7px;
  width: 100%;
  outline: none;
  border: none;
  /* background: transparent; */
}
.search-bar .icon {
  font-size: 35px;
  padding: 7px;
  color: white;
  background-color: #34495e;
  cursor: pointer;
}
